#about-me {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35vh;
  background-color: rgb(247, 247, 247);
  color: rgb(38, 54, 69);
}
.aboutme-title {
  font-size: 1.3rem;
  font-weight: bold;
}
