#contact {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  padding: 0px 40px;
}

#contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-icon {
  color: rgb(38, 54, 69);
  margin: 10px;
}

.contact-icon:hover {
  color: orangered;
  cursor: pointer;
}
span {
  font-size: 0.8rem;
  margin: 10px;
}
