#home {
  height: 60vh;
  background-image: url('brooklyn-brige.jpeg');
  background-size: cover;
  background-position-y: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
