#scavengart {
  background-image: url('splashPage.jpg');
  background-position: center center;
  background-size: cover;
  opacity: 0.5;
  height: 60vh;
}
.content {
  width: 100vw;
  opacity: 1 !important;
}
